torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0

transformers==4.44.2
accelerate==0.34.2
diffusers==0.30.2

Pillow==10.4.0
numpy==1.26.4
tqdm==4.66.5
safetensors==0.4.4

soundfile==0.12.1
scipy==1.13.1
opencv-python==4.10.0.84

moviepy==1.0.3
imageio==2.35.1
imageio-ffmpeg==0.5.1

runpod==1.6.2
